:root {
    --gen-color: #0000FF;
    /* fallback form heading color */
}

.end-links {
    width: 300px;
    height: 130px;
    background-color: rgb(188, 133, 133);
    /* Light Red */
    background-color: rosybrown;
    color: gold;
    border: 1px solid #d4af37;
}

.end-tunes {
    width: 300px;
    height: 100px;

    background: hsl(250, 50%, 60%);
    position: static;
}

.end-video {
    color: color(display-p3 1 .1 1);
    background-color: color-mix(in srgb, #65ef23 10%, orange);
}

.form-heading {
    color: var(--gen-color, navy);
    max-width: 100px;
    min-width: 400px;

}

.location {
    background-color: #c4c6c8;
    font-size: 110%;
}

/* add absolute */

.header {
    font-size: .2in;
}

.date {
    font-size: 12pt;
}

.time {
    font-size: 16px;
}

/* add relative */

.hungry {
    font-size: 1.1em;
}

.favday {
    font-size: 2.4vw;
}

.logo-box {
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 3em;
}

/* margin: <top> <right> <bottom> <left> */
.box-vid {
    margin: -30px 30px 20px 1em
}

/* auto */
.ta-opinion {
    margin: auto;

    border-style: solid;
    border-color: rgb(214, 191, 15);
    border-width: 2px;
    border-radius: 8px;
}

/* padding */

.pad-power {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 30px;
}

.pad-car {
    padding: 30px 15px 10px 30px;
}

.notice {
    color: rgb(91, 22, 22);
    text-decoration: underline #931e1e;
    text-align: left;
}

.hungry {
    display: none;
}

.drink {
    display: block;
    position: relative;
}

form:hover {
    color: brown;
}

form:active {
    background: green;
}

.parent {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    height: 250px;
}

.child-one {
    flex: 1;
    align-content: center;
}

.child-two {
    flex: 2;
    align-content: center;
    justify-content: space-around;
}

.child-three {
    flex: 2;
    align-content: center;
}

nav li {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.grid-1 {
    grid-row: 1 / 4;
    background-color: red;
}

.grid-2 {
    grid-row: 1 / 4;
    background-color: burlywood;
}

.grid-3 {
    grid-row: 1 / 4;
    background-color: bisque;
}

.grid-4 {
    grid-row: 1 / 4;
    background-color: gray;
}

/*small screens show white backgrounds for easier readibility */
@media screen and (max-width: 600px) {
    body {
        background-color: white;
        font-size: 5vw;
        overflow-wrap: break-word;

    }

    h3 {
        background-color: white;
        font-size: 5vw;
        overflow-wrap: break-word;
    }

    .logo-box img {
        max-width: 70vw;
    }
}

h1,
h5 {
    font-family: "Montserrat", sans-serif;
}

#top-header {
    background-color: beige;
}

* form {
    color: rgb(16, 58, 16);
}

input[type="text"] {
    background: lightgrey;
}

ul>li {
    list-style-type: circle;

}

div.favday {
    text-decoration: underline;
}


div:has(h5) {
    color: blue;
}